*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.7rem;
}

p {
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

.block {
  margin-bottom: 10rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.nav_bar {
  padding-top: 3rem;
  margin-bottom: 6rem;
}

.nav_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav_flex {
  white-space: nowrap;
  display: flex;
  gap: 2rem;
  justify-self: end;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .nav_img {
    width: 70px;
  }

  .nav_flex {
    gap: 1rem;
  }

  .nav_flex > span {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav_bar {
    margin-bottom: 3rem;
  }

  .container {
    width: 90%;
  }
}

.img1,
.img2 {
  width: 80%;
  margin-bottom: 3rem;
}

.first_content {
  text-align: center;
}

.first_content h2,
.first_content p {
  margin-bottom: 3rem;
}

.form {
  display: grid;
  gap: 2rem;
}

.form-group {
  padding: 1.5rem 3rem;
}

.btn {
  padding: 1.5rem 3rem;
  background: hsl(224, 93%, 58%);
  color: #fff;
}

.first_grid {
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 1024px) {
  .first_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .img1,
  .img2 {
    width: 100%;
    order: 2;
  }

  .img2 {
    align-self: center;
  }

  .first_content {
    text-align: left;
    align-self: center;
  }

  .form {
    grid-template-columns: repeat(2, 1fr);
  }
}

.backg {
  background: url(../images/bg-curve-mobile.svg);
  background-size: cover;
  background-position: bottom;
  margin-bottom: 0;
}

.second_content {
  text-align: center;
  display: grid;
  padding-bottom: 12rem;
}

.second_content h4,
.p {
  margin-bottom: 2rem;
}

.p1 {
  margin-bottom: 5rem;
}

.link {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.link span {
  color: hsl(170, 45%, 43%);
}

.line {
  width: 170px;
  height: 1.5px;
  background: hsl(170, 45%, 43%);
  margin: 0 auto;
}

.testimonial {
  width: 70%;
  background: #fff;
  margin-top: 5rem;
  border-radius: 10px;
  padding: 2rem 3rem;
  justify-self: center;
  display: grid;
}

.testimonial img {
  justify-self: start;
}

.testimonial p {
  text-align: left;
  color: hsl(238, 22%, 44%);
  font-weight: 500;
}

.author {
  margin-top: 2rem;
  display: flex;
  gap: 1.3rem;
}

.author img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.title h4 {
  margin-bottom: 0.5rem;
  text-align: left;
}

.title p {
  font-size: 1.4rem;
}

.second_grid {
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 1024px) {
  .second_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .second_content {
    text-align: left;
  }

  .link {
    justify-content: left;
  }

  .line {
    margin: 0;
  }

  .testimonial {
    justify-self: left;
  }

  .p1 {
    margin-bottom: 2rem;
  }
}

.signup {
  background: hsl(238, 22%, 44%);
  padding: 5rem 0;
}

.third_content {
  text-align: center;
}

.third_content h2 {
  color: #fff;
  margin-bottom: 2rem;
}

.third_content p {
  color: hsl(240, 75%, 98%);
  margin-bottom: 2rem;
}

.form_signing {
  display: grid;
  gap: 2rem;
}

.btn_signup {
  padding: 1.5rem 3rem;
  background: hsl(224, 93%, 58%);
  color: #fff;
  width: 70%;
  justify-self: center;
}

.form_signup {
  padding: 1.5rem 3rem;
  width: 70%;
  justify-self: center;
}

.third_grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .third_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .third_content {
    text-align: left;
  }

  .form_signing {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer {
  padding: 4rem 3rem;
  background: hsl(243, 87%, 12%);
  color: hsl(240, 75%, 98%);
}

.footer_logo {
  filter: brightness(0) invert(1);
  margin-bottom: 3rem;
}

.footer_grid {
  display: grid;
  gap: 4rem;
}

@media screen and (min-width: 1024px) {
  .footer_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.top {
  display: grid;
  gap: 3rem;
}

.top_content {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.middle {
  display: grid;
  gap: 3rem;
}

.middle > a {
  text-decoration: none;
  font-size: 1.8rem;
  white-space: nowrap;
  color: hsl(208, 11%, 55%);
}

@media screen and (min-width: 1024px) {
  .middle {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 20px);
    align-self: center;
    justify-items: center;
  }

  .middle > a {
    font-size: 1.6rem;
  }
}

.bottom {
  display: flex;
  gap: 1.5rem;
  justify-self: center;
}

.bottom .icon_container {
  width: 42px;
  height: 42px;
  border: 1px solid #fff;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bottom .icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.copyright {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .copyright {
    text-align: right;
  }
}
